---
type Props = {
  class?: string
}

const { class: className = 'size-8' } = Astro.props
---

<svg
  viewBox="0 0 81.0987986 109.636799"
  fill="currentColor"
  class:list={['logo-hover', className]}
  aria-hidden="true"
>
  <title>ilo</title>
  <g
    transform="translate(4.4375, 4.1584)"
    fill-rule="nonzero"
    stroke="none"
    stroke-width="1"
  >
    <ellipse
      transform="translate(4.3042, 44.3206) rotate(4) translate(-4.3042, -44.3206)"
      cx="4.30416033"
      cy="44.3206117"
      rx="4"
      ry="4.5"
    />
    <path
      d="M4.30416033,35.663003 C8.92569454,35.663003 12.461769,39.6410868 12.461769,44.3206117 C12.461769,49.0001366 8.92569454,52.9782204 4.30416033,52.9782204 C-0.317373878,52.9782204 -3.85344836,49.0001366 -3.85344836,44.3206117 C-3.85344836,39.6410868 -0.317373878,35.663003 4.30416033,35.663003 Z"
      transform="translate(4.3042, 44.3206) rotate(4) translate(-4.3042, -44.3206)"
    />
    <path
      class="logo-eye"
      d="M59.2974667,27.1969346 C68.3525145,27.1969346 75.4550754,35.3048213 75.4550754,45.0530727 C75.4550754,54.8013242 68.3525145,62.9092108 59.2974667,62.9092108 C50.2424189,62.9092108 43.139858,54.8013242 43.139858,45.0530727 C43.139858,35.3048213 50.2424189,27.1969346 59.2974667,27.1969346 Z M59.2974667,35.512152 C55.0976805,35.512152 51.4550754,39.6703464 51.4550754,45.0530727 C51.4550754,50.435799 55.0976805,54.5939935 59.2974667,54.5939935 C63.4972529,54.5939935 67.139858,50.435799 67.139858,45.0530727 C67.139858,39.6703464 63.4972529,35.512152 59.2974667,35.512152 Z"
      transform="translate(59.2975, 45.0531) rotate(4) translate(-59.2975, -45.0531)"
    />
    <path
      class="logo-wink"
      d="M47.4757752,40.708286 L47.6811801,40.7122426 L70.6811801,41.7122426 C72.9516868,41.8109603 74.7122697,43.7315962 74.613552,46.0021029 C74.5148344,48.2726096 72.5941985,50.0331925 70.3236918,49.9344748 L47.3236918,48.9344748 C45.053185,48.8357571 43.2926022,46.9151212 43.3913199,44.6446145 C43.4900375,42.3741078 45.4106734,40.6135249 47.6811801,40.7122426 L47.4757752,40.708286 Z"
    />
    <path d="M30.2958418,-0.850677796 C30.7656582,-3.09828385 32.9685643,-4.53946714 35.2161704,-4.06965077 C37.4637765,-3.59983439 38.9049597,-1.39692826 38.4351434,0.850677796 C34.7520699,18.4705368 32.8270196,32.6662904 31.5780597,48.1566861 C31.5502381,48.5017476 31.5228465,48.838801 31.4812968,49.3481933 C30.3206064,63.5780665 30.7718408,68.8193125 33.141908,69.9946994 C35.4326803,71.1307616 38.3186699,70.5696158 41.115211,68.2393699 C42.879252,66.7694651 45.5008829,67.0079096 46.9707877,68.7719505 C48.4406925,70.5359914 48.202248,73.1576224 46.4382071,74.6275272 C41.2741896,78.9304964 34.9314062,80.1637741 29.4475061,77.4441447 C25.1514362,75.3135956 23.1938332,70.9813575 22.6647352,64.835699 C22.3201057,60.8327074 22.4819955,57.3963877 23.1936036,48.6721896 C23.2349595,48.1651732 23.2621732,47.8303077 23.2897394,47.4884153 C24.5650919,31.6706805 26.5361234,17.1358514 30.2958418,-0.850677796 Z" />
    <path
      d="M5.74328698,62.7044024 C6.00153275,60.4227868 8.06049717,58.7825215 10.3421127,59.0407673 C12.6237283,59.299013 14.2639936,61.3579775 14.0057478,63.639593 C13.0015813,72.5114594 15.0095316,81.3277052 19.1290517,86.1453268 C23.5244388,91.2855643 29.3798699,93.8230926 36.448925,93.4925259 C38.7426025,93.3852678 40.6889453,95.1577109 40.7962033,97.4513883 C40.9034614,99.7450657 39.1310184,101.691408 36.8373409,101.798667 C27.2022283,102.249229 18.8716706,98.6390715 12.8092749,91.549331 C7.02642312,84.7865065 4.49962897,73.6921891 5.74328698,62.7044024 Z"
      transform="translate(23.1171, 80.4251) rotate(-14) translate(-23.1171, -80.4251)"
    />
  </g>
</svg>
