---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from 'astro/types'

type CardProps = HTMLAttributes<'div'>;

const {
  class: className,
  ...props
} = Astro.props as CardProps
---
<h3
    data-slot="card-title"
    class={cn("leading-none", className)}
    {...props}
  >
    <slot />
  </h3>
