---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from 'astro/types'

type CardProps = HTMLAttributes<'div'>;

const {
  class: className,
  ...props
} = Astro.props as CardProps
---
<div
    data-slot="card"
    class={cn(
      "text-foreground flex flex-col gap-4 rounded-xl bg-card py-4 shadow-sm",
      "[&_[data-slot=table-header]]:border-t",
      className,
    )}
    {...props}
  >
    <slot />
  </div>
